<h3>Intro</h3>

Today, I will be proudly displaying my beast of a Media Center. This machine, called "<a href="{{ asset(article.getImgPath('swordfish.jpg')) }}" data-gallery>Swordfish</a>" , is my main
living room's PC and is connected directly into the main TV. We don't have Cable or SAT so a massive hard drive holds
all of our TV shows and movie, around 12TB of usable space. We also game on it, playing both 2d and retro games directly
on the AMD APU, and streaming 'graphics heavy' games using the Steam In-House streaming. Let me talk you trought the way
i built this machine and how i use the diffrent service installed.
<br/>

<a href="{{ asset(article.getImgPath('HTPC.1.JPG')) }}" data-gallery>
    <img border="0" src="{{ asset(article.getImgPath('HTPC.1.JPG')) }}" class="center-block img-responsive blogImg"/>
</a>

<h3>Hardware &amp; Specification</h3>

<h4>Hardware</h4>

Let's begin by a rundown of all the parts:
<ul>
    <li><b>MotherBoard</b> - <a href="https://www.asus.com/Motherboards/F2A85M_PRO/">Asus F2A85-M Pro</a></li>
    <li><b>CPU</b> - <a href="http://www.amd.com/en-us/products/processors/desktop/a-series-apu">AMD A10-5800K</a> (Has
        the equivalent of a Radeon HD 7660D)
    </li>
    <li><b>Optical</b> - <a
                href="http://www.lg.com/ca_en/digital-storage-devices/lg-CH12LS28-internal-blu-ray-combo-drive">LG
            CH12LS28 Blu-ray drive </a></li>
    <li><b>Power Supply</b> - <a
                href="http://www.corsair.com/en/professional-series-gold-ax850-80-plus-gold-certified-fully-modular-power-supply">Corsair
            AX850 CMPSU-850AX</a></li>
    <li><b>Memory</b> - <a href="http://www.kingston.com/en/memory/hyperx/genesis">Kingston HyperX 8GB 2X4GB DDR3-1600
            XMP Dual Channel Memory Kit</a></li>
    <li><b>CPU Fan</b> (optional) - <a href="http://www.noctua.at/main.php?show=productview&amp;setlng=en&amp;products_id=18">Noctua NH-C12P</a></li>
    <li><b>Case</b> - <a href="http://www.lian-li.com/en/dt_portfolio/pc-v354/">Lian-Li PC-V354 Black</a></li>
</ul>

<h4>Storage</h4>

<b><a href="http://www.anandtech.com/show/4253/the-crucial-m4-micron-c400-ssd-review">
        Crucial M4 SSD Micron C400128GB
    </a></b>

<br/><br/>
I decided to go with a dual storage option, where the SSD hosts the OS and Apps while the media files are on the HDDs.
This has worked very good for me since when I had minor issues with the raid drive, I was still able to boot up the OS and
make diagnostics on the drives. It also allows for quick boot up time and super fast applications.
<br/><br/>

<b><a href="http://techreport.com/review/25391/wd-red-4tb-hard-drive-reviewed">5x Western Digital 3TB Red </a></b>

<br/><br/>

This is what my machine was about, a huge space to store movies, TV Shows, games and everything i could gather on
the internet. Plug these in a raid 5 and you get 12TB drive with pretty fast read and write speed even with the M/B
onboard controller. It is quite costly (about the same as all the other pieces together), but I suggest you buy them
all when you build the computer, because it is difficult (almost impossible) to change the size of the array once
configured without losing data. Although if you plan to build one yourself, it is entirely up to you to decide of
the size of the drive.<br/>
<br/>
These also have a great warranty of 5 year where, if a drive fails for any reason, you can cross-ship it (meaning
that they send you one before you can send it back) This proves useful when you have one drive starting to fail, you
can still use the array while waiting for the drive to arrive and then switch immediately.<br/>
<br/>
<br/>

<div class="col-xs-12">
    <div class="col-xs-6">
        <a href="{{ asset(article.getImgPath('2014-06-03.5x-500MB.PNG')) }}" data-gallery>
            <img border="0" src="{{ asset(article.getImgPath('2014-06-03.5x-500MB.PNG')) }}"
                 class="img-responsive blogImg center-block"/>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="{{ asset(article.getImgPath('HTPC.2.JPG')) }}" data-gallery>
            <img border="0" src="{{ asset(article.getImgPath('HTPC.2.JPG')) }}"
                 class="img-responsive blogImg center-block"/>
        </a>
    </div>
</div>

<br/>

<h4>Building It</h4>

The biggest problem I had was the freaking small case and don't get me wrong, the case is very slick and i love
the small footprint/feature ratio, but it is very difficult to work with. To install everything in this case you
absolutely need to take everything apart first. For example, In order to change just the optical drive, you will
need to remove all components of the case including the motherboard. For that reason, I used&nbsp;<span
        style="background-color: white;">a completely modular power supply, even the big ATX connector, so that&nbsp;</span>I
can easily remove the unit without having to disconnect any cable on the board. It's quite a tight fit so you
don't want to have to open it often.<br/>
<br/>
The 7 slots of hard drive are really practical and when completed, the case looks awesome inside and out. I
have also recently added custom SATA power cables and blue Sata III cables from <a href="http://www.monoprice.com/">monoprice.com</a>. Here are a few
photos of the finished product.&nbsp;
<br/>
<a href="{{ asset(article.getImgPath('HTPC.3.JPG')) }}" data-gallery>
    <img border="0" src="{{ asset(article.getImgPath('HTPC.3.JPG')) }}" class="center-block img-responsive blogImg"/>
</a>
<br/>

<h2>Software</h2>
<br/>
<b>Raid 5</b><br/>
Before I bought this machine a year ago, the question of soft/hard raid was haunting me. Whether to use linux
mraid or anything else. Since I decided to use Windows as my primary OS, I decided to use the Onboard Raid
Controller which, as you can see above, is quite fast. With a Raid 5 setup, you benefit from both a performance boost
and added security through distributed parity. You can lose 1 drive with this setup and the partition will continue to
work. If you install the utility RAIDXpert that comes with the motherboard, you can get extra notifications when a drive
fails and a web interface to configure the controller.
<br/><br/>
I had this machine for more than a year and had no data lost. I had to replace 2 drives but the WD Red's warranty
made that a breeze.

<br/><br/>
One of the big issue with this method though, is that if the motherboard gets fried, you will need to replace with the
same model or else you will lose the Raid array. I also have this machine trough an UPS for electricity safety since
you don't want the machine to shutdown abruptly which can cause corruption on the drives. The HTPC is setup to shutdown
automaticaly and gracefully when the battery is below 10 min remaining.<br/>

<br/>
<b>OS &amp; Apps</b><br/>
Decided to go with Windows because it's the OS I'm more comfortable with. For the main interface, I use Steam Big
Picture and <a href="http://xbmc.org/">XBMC</a> for easier navigation as both work with an X360 controller as the main input. I still use keyboard and
mouse for internet surfing and also to manage the computer and its media files.<br/>
<br/>
<a href="http://sickbeard.com/">Sickbeard</a> is the main TV organizer. With it, I'm able to track every TV Show I want
by the day. I use a custom build provided by Bricky Box that you can find on his blog :
<a href="http://brickybox.com/2013/05/09/sickbeard-with-integrated-torrent-client">brickybox.com/2013/05/09/sickbeard-with-integrated-torrent-client</a>.
<br/>
<br/>
<b>Server</b>
<br/>
There are a few permanent services that this machine runs 24/7. For files, i use the windows SMB protocol since most of
the home PCs we run are on windows (linux is of course compatible). It also runs <a href="http://www.ps3mediaserver.org/">PS3 media server</a> for streaming video to
my devices around the house. I use <a href="http://www.teamviewer.com/">Teamviewer</a> for when I want to work on the machine from the office PC.
<br/>
<br/>
<b>Gaming</b>
<br/>
As you can see, there is no GPU card in this setup. With the new feature on Steam called <a href="https://steamcommunity.com/groups/homestream/">In-Home streaming</a>, the
lack of a GPU card doesn't really matter. I can easily stream games from my main office PC and i get almost no
lag while being at full settings. And while the APU isnt the best for gaming, it is comparable to a 7660D which
is quite able to play 2d games like Castle&nbsp;Crasher, Pixel Junk, Hearthstone or any emulator. Of course,
once the streaming won't be able to satisfied my needs, I will probably add a low-profile GPU card for gaming.
<br/>
<br/>

<div class="col-xs-12">
    <div class="col-xs-6">
        <a href="{{ asset(article.getImgPath('HTPC.4.JPG')) }}" data-gallery>
            <img border="0" src="{{ asset(article.getImgPath('HTPC.4.JPG')) }}"
                 class="img-responsive blogImg center-block"/>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="{{ asset(article.getImgPath('HTPC.5.JPG')) }}" data-gallery>
            <img border="0" src="{{ asset(article.getImgPath('HTPC.5.JPG')) }}"
                 class="img-responsive blogImg center-block"/>
        </a>
    </div>
</div>

<h3>Conclusion</h3>

I have been using this setup for more than a year now and I can't recommend this enough, it has been really
great for me and my girlfriend. Everyone can access this in the house and share files with it instantly and super
fast. Keyboard and Controller combo makes the best of this box since you can sit back and watch a movie with the
controller, but also use the keyboard to surf the web, play games or work on the computer.&nbsp;
<br/><br/>
Let me know if you have a comment or suggestion on my Utimate HTPC for Storage, Gaming and Multimedia !


