<div class="row">
    <div class="col-xs-12 blogDesc">

        <span style="margin-bottom: 0px; font-size: 12px; font-weight: bold;">{{ article.getDate() }}</span>
        <h2 class="page-header">
            <a href="{{ article.getURL(appConfig('hostname')) }}">{{ article.title }}</a>
        </h2>
        {% include article.getHTMLPagePath() %}
        <br/>
        <br/>

        <div class="blogAdSlot">
            <!-- Ads -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="{{ appConfig('ad_client') }}"
                 data-ad-slot="{{ appConfig('ad_slot') }}"
                 data-ad-format="horizontal"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <br/>
        <br/>

        <!-- AddThis Button -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5330a3ce072eac49"></script>

        <!-- Disqus -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'nmclab';
            var disqus_identifier = '{{ article.id }}';
            var disqus_title = '{{ article.title }}';

            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </div>
</div>