<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>NMC-Lab.com - {% block title 'Home' %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.min.css') }}">

    <style type="text/css">
        .blueimp-gallery > .indicator > li{
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="branding">
                <div>
                    <img src="{{ asset('img/Lab.Banner1.png') }}" alt="NMC-Lab"/>

                    <div class="pull-right navbutton">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row navigation">
                <div class="col-xs-12 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-tabs">
                        <li class="{% block hometab '' %}"><a href="{{ path('home') }}">Home</a></li>
                        <li class="{% block articletab '' %}"><a href="{{ path('articles') }}">Articles</a></li>
                        <!--
                            <li class="{% block codetab '' %}"><a href="{{ path('code') }}">Code</a></li>
                            <li class="{% block gamestab '' %}"><a href="{{ path('games') }}">Games</a></li>
                            <li class="{% block techtab '' %}"><a href="{{ path('tech') }}">Technology</a></li>
                        -->
                        <li class="{% block abouttab '' %}"><a href="{{ path('about') }}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 pull-left">
                    <div class="hidden-md hidden-lg" style="max-height: 100px;">
                        <!-- AdSense Ad -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="{{ appConfig('ad_client') }}"
                             data-ad-slot="{{ appConfig('ad_slot') }}"
                             data-ad-format="horizontal"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 blogContent">
                            {% block content '' %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    {% include 'sidebar.html.twig' %}
                </div>
            </div>
            <div class="row footer">
                <div class="col-xs-12">
                    <p class="pull-left">&copy; 2013-2014 - NMC, All rights reserved.</p>
                    <p class="pull-right">
                        <a href="https://github.com/ncareau/nmc-lab.com">Site Repo</a>
                        <!-- &nbsp;|&nbsp; <a href="#">TestLink</a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- Javascript Files. -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- Gallery Plugin. -->
<script src="{{ asset('js/jquery.blueimp-gallery.min.js') }}"></script>

<!-- AdSense. -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Google +1 Script -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<script src="https://apis.google.com/js/platform.js"></script>

<!-- Analytics. -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ appConfig('webstats_ID') }}', '{{ appConfig('webstats_host') }}');
    ga('send', 'pageview');
</script>

</body>
</html>
