<div class="blogIntroduction">
    <p>Welcome to my blog where i talk about <b>Code</b>, <b>Technology</b> and <b>Games</b>.</p>
</div>
<div class="blogCategories">
    <h3>Navigation</h3>
    <ul class="nav-list">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('articles') }}">All Articles</a></li>
        <!--
        <li><a href="{{ path('code') }}">Code</a></li>
        <li><a href="{{ path('games') }}">Games</a></li>
        <li><a href="{{ path('tech') }}">Tech</a></li>
        -->
        <li><a href="{{ path('about') }}">About</a></li>
    </ul>
</div>
<div class="blogAuthors">
    <h3>Contact</h3>
    <div>
        <!-- Twitter Follow Bouton -->
        <a href="https://twitter.com/nmclab" class="twitter-follow-button" data-show-count="false">Follow @nmclab</a>
        <script>!function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>

        <!-- Google +1 Bouton -->
        <div class="g-plusone" data-annotation="inline" data-width="300"></div>

        <!-- Youtube Bouton -->
        <div class="g-ytsubscribe" data-channel="nmclab" data-layout="full" data-count="hidden"></div>

        <!-- Twitch Bouton -->
        <!-- TODO: Add twitch button -->
        <br/>
        <br/>

        <!-- NCIX Affiliate-->
        <a href="http://www.ncix.com/?affiliateid=11138696"><img src="{{ asset('img/ncix_120x100.css') }}"/></a>

        <!-- Donate Bouton -->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="AEP4GQSBM27L6">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
<div>
    <!-- AdSense Ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="{{ appConfig('ad_client') }}"
         data-ad-slot="{{ appConfig('ad_slot') }}"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
