<div class="blogIntroduction">
    <p>The Smart App blog is a place where we discuss news, customers, tips and tricks about our applications. For additional information on Smart App, check out the blog posts, where we discuss product design, business and strategy.</p>
</div>
<div class="blogCategories">
    <h3>Navigation</h3>
    <ul class="nav-list">
        <li><a href="{{ path('home') }}">All Articles</a></li>
        <li><a href="{{ path('code') }}">Code</a></li>
        <li><a href="{{ path('games') }}">Games</a></li>
        <li><a href="{{ path('tech') }}">Tech</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
    </ul>
</div>
<div class="blogAuthors">
    <h3>Contact</h3>
    <div>
        <a href="https://twitter.com/nmclab" class="twitter-follow-button" data-show-count="false">Follow @nmclab</a>
        <script>!function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>

        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-annotation="inline" data-width="300"></div>

        <!-- Place this tag after the last +1 button tag. -->
        <script type="text/javascript">
            (function() {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>

        <script src="https://apis.google.com/js/platform.js"></script>

        <div class="g-ytsubscribe" data-channel="nmclab" data-layout="full" data-count="hidden"></div>
        
        
        <a href="http://twitch.tv/nmclab"><img src="http://streambadge.com/twitch/light/nmclab.png" width="300" height="64" alt="nmclab's Streambadge" style="margin-bottom:5px;"></a>
    </div>
</div>